{% extends 'client/base.html' %}

{% block content %}
    <section class="back-page">
        <div class="group-circle  bottom">
            <img src="../../static/client/Group-2.png" alt="">
        </div>
        <div class="background-header"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="h1">О нас</h1>
                    <div class="breadcrumbs"><a href="/">Главная</a> / О нас</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><strong>StratosChange&nbsp;</strong>является простым и интуитивно понятным сервисом для обмена криптовалюты.</p>
                    <p>Наш обменник работает в ручном режиме, но благодаря профессионализму и скорости работы наших операторов, вы не сможете отличить обмен от автоматического, ведь мы отправим ваши средства в течение 10 минут после подтверждения оплаты.</p>
                    <p>Струкутра нашего обменного пункта позволяет постоянно добавлять и обновлять список актуальных криптовалют. Мы всегда активно следим за ситуацией на рынке и реагируем на каждое важное изменение.</p>
                    <p>Наш обменный пункт обладает крупными резервами каждой валюты, которая доступна для обмена на нашем сайте. Это позволяет нам проводить обменные операции на любые необходимые суммы.</p>
                    <p>Мы гарантируем каждому своему клиенту сервис высочайшего класса. Наша задача - сделать каждого клиента постоянным.</p>
                    <p>&nbsp;</p>        </div>
            </div>
        </div>
    </section>
{% endblock %}