<div class="col-12 col-lg-4 col-xl-4">
    <div class="lk-header-menu">
        <ul class="lk-list font-Sans">
            <li>
                <a href="/login" class="active"><i class="fas fa-clock"></i> История операция</a>
            </li>
            <li>
                <a href="/referral" class="active"><i class="fas fa-users"></i> Партнерская программа</a>
            </li>
            <li>
                <a href="/options" class="active"><i class="fas fa-unlock-alt"></i> Опции</a>
            </li>
            <li>
                <a href="/logout" class="active"><i class="fas fa-share-square"></i> Выход</a>
            </li>
        </ul>
    </div>
</div>