{% extends 'client/base.html' %}

{% block content %}
    <section class="back-page">
        <div class="group-circle  bottom">
            <img src="../../static/client/Group-2.png" alt="">
        </div>
        <div class="background-header"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="h1">Купоны</h1>
                    <div class="breadcrumbs"><a href="/">Главная</a> / Получить купон</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Как получить купон на скидку?</h1>
                    <p><strong>Купон</strong> – это сгенерированный код системой обменника, который предоставляет Вам скидку к обмену.&nbsp;</p>
                    <p>Мы быстро развивающийся обменник, который представляет бонусы лояльным пользователям. Оставьте о нас положительный отзыв/обзор на указанных мониторингах/сайтах отзывов и получите скидку в виде купона на следующий обмен.&nbsp;</p>
                    <p>Предоставляемая скидка варьируется от <strong>0.5 до 5% процентов</strong> и зависит от:</p>
                    <ul>
                        <li>Количества оставленных Вами уникальных отзывов на мониторингах (1 отзыв на 1 мониторинге). Для получения бонуса необходимо сделать хотя бы 1 отзыв на 1-ом мониторинге.</li>
                        <li>Качества отзыва</li>
                    </ul>
                    <h1>Этапы получения купона:</h1>
                    <p>1) Зайдите на нашу страницу на мониторинге, через Ваш профиль оставьте отзыв.</p>
                    <p>2) Сделайте скриншот вашего отзыва.</p>
                    <p>3) Скопируйте ссылку ресурса, где вы оставили отзыв о нас.</p>
                    <p>4) Отправьте нам <strong>ссылку</strong>, где можно увидеть отзыв, <strong>скриншот</strong>, а также <strong>Ваш email</strong>, c которого была осуществлена регистрация на StratosChange по почте <a href="mailto:support@stratoschange.com">support@stratoschange.com</a> или в нашем telegram чате.</p>
                    <p>5) В течение 5-30 минут получите купон (код), который можно ввести в форме обмена.</p>
                    <p>Купон предоставляется на почту, на которую Вы зарегистрировались на нашем сервисе. Купон действует в течение 10 дней с момента получения.<br>Один купон Вы можете использовать 1 раз.&nbsp;</p>
                    <p>При обмене на крупные суммы Вам также может быть предоставлена дополнительная скидка в виде купона, для этого Вам необходимо написать нам на почту <a href="mailto:support@stratoschange.com">support@stratoschange.com</a></p>
                    <p>Спасибо вам помощь в развитии!&nbsp;</p>
                    <p>&nbsp;</p>        </div>
            </div>
        </div>
    </section>
{% endblock %}