{% extends 'client/base.html' %}

{% block content %}
    <section class="back-page">
        <div class="group-circle  bottom">
            <img src="../../static/client/Group-2.png" alt="">    </div>
        <div class="background-header"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="h1">Партнерам</h1>
                    <div class="breadcrumbs"><a href="/">Главная</a> / Партнерам</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="partners-item row">
                        <div class="col-md-8">
                            <h3>Партнерская программа для пользователей</h3>
                            <p>Зарабатывай на обменах знакомых и друзей!</p>
                            <h4>Что для этого нужно сделать?</h4>
                            <p><strong>Шаг 1</strong><br>Зарегистрируйтесь, в личном кабинете. Там вы найдете уникальную реферальную ссылку.</p>
                            <p><strong>Шаг 2</strong><br>Пригласите друзей, с помощью реферальной ссылки.</p>
                            <p><strong>Шаг 3</strong><br>Когда приглашенные клиенты сделают обмен, Вы получите вознаграждение в размере 0.5% от суммы обмена, на свой счет в личном кабинете.<br><br>Далее выводите заработанные деньги любым удобным для Вас способом, доступным на нашем сайте!</p>
                        </div>
                    </div>
                    <div class="partners-item row yellow">
                        <div class="col-md-8">
                            <h3>Для мониторингов</h3>
                            <p>Если Вы являетесь представителем мониторинга, форума, или другого сервиса, с помощью которого возможен большой приток клиентов - обращайтесь к нам на почту:&nbsp;<u>support@stratoschange.com</u>, для обсуждения персонального процента с обмена, и дальнейшего сотрудничества!</p>
                        </div>
                    </div>            </div>
            </div>
        </div>
    </section>
    <section class="screen-reserves content-page">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Мониторинги</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="services-partners-items">

                        <a href="https://pro-obmen.ru/stratoschange"><img src="../../static/client/UFPIcbZAQn_XYiJnbW0wVfGFZ.jpg" alt="Pro-obmen.ru"></a>

                        <a href="https://glazok.org/exchange/?details=819"><img src="../../static/client/3joKfqmn0t4Rlbx0eiLuuC6OF.jpg" alt="Glazok.org"></a>

                        <a href="https://e-mon.ru/exchanger/274/"><img src="../../static/client/b88x31.png" alt="Выгодный курс обмена валют" title="Выгодный курс обмена валют" border="0"></a>

                        <a href="https://askoin.com/Stratoschange" title="Askoin.com - Мониторинг обменников криптовалют, выбор лучшего курса!">
                            <img src="../../static/client/askoin.jpg" alt="Askoin.com - Мониторинг обменников криптовалют, выбор лучшего курса!">
                        </a>

                        <a href="https://www.okchanger.ru/exchangers/Stratoschange"><img src="../../static/client/_llJIYEK0aehA3TzLF-J-3sxX.png" alt="ОКченджер"></a>

                        \<a href="https://stratoschange.com/partners">\<img src="https://stratoschange.com/partners" width="88" alt="">\</a>\&gt;

                        <a href="https://cryptobrokers.ru/stratoschange-info"><img src="../../static/client/88x31.png" alt="Лучший курс валюты" title="Мониторинг обменников" border="0"></a>

                        <a href="https://kurs.expert/ru/obmennik/stratoschange-com/feedbacks.html#reputation" title="Обмен Биткоин, Киви, Яндекс, AdvCash"><img src="https://kurs.expert/i/btn.cb.png" width="100" height="31" border="0" alt="btn.cb.png"></a>

                        <a href="https://eobmen-obmen.ru/stratoschange-detali" title="Мониторинг обменников eobmen-obmen.ru"><img src="../../static/client/inform5.gif" alt="inform5.gif"></a>

                        <a href="https://exchangesumo.com/" title="Сервис поиска выгодного курса обмена"><img src="../../static/client/1.svg" width="88" height="31" border="0" alt="1.svg"></a>

                        <a href="https://bestcurs.org/"><img src="../../static/client/bestkurs_88x31k.png" alt="Обмен валют по лучшему курсу" title="Мониторинг обменников" width="88" height="31" border="0"></a>

                        <a href="https://good-kurs.ru/" title="Лучший курс электронных валют на good-kurs.ru"><img src="../../static/client/88x31.gif" alt="Лучший курс электронных валют на good-kurs.ru"></a>

                        <a href="https://chexch.com/"><img src="../../static/client/M8Qkj9bAH54DKHj1PoXWFWyvD.png" alt="Chexch"></a>

                        <a href="https://24kurs.com/?details=377"><img src="../../static/client/88x31_4.gif" alt="Лучшийкурсвалюты" title="Мониторингобменников" width="88" height="31" border="0"></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="screen-reserves content-page">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Форумы</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="services-partners-items">

                        <a href="https://forum.bits.media/index.php?/topic/157284-stratoschange-%D0%BA%D0%B0%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE-%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9-%D0%BE%D0%B1%D0%BC%D0%B5%D0%BD-%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D0%B2%D0%B0%D0%BB%D1%8E%D1%82/&amp;amp;tab=comments#comment-1906250"><img src="../../static/client/0HR99rg3Gjq1NpgJ1zkjqBaLY.jpg" alt="Битс-Медиа"></a>

                        <a href="https://bitalk.org/threads/25580/"><img src="../../static/client/2lsUn9MeE_s1LLE3lmU7QnSxG.png" alt="Bitalk"></a>

                        <a href="https://forum.cryptoff.org/index.php?/topic/17065-stratoschange-prostoi-i-intuitivno-poniatnyi-servis-dlia-obm/"><img src="../../static/client/tDjTNTkuT3CTH3pYklI8Omi4z.png" alt="Cryptoff"></a>

                        <a href="https://mmgp.com/threads/stratoschange-com-obmennik-kriptovaljut-kupit-bitkoin-vygodno.657448/?referrer=492700" title="Куда вложить деньги? Акции, ПИФы, HYIP Фонды, Онлайн Кредиты, FOREX, Бизнес - форум об инвестициях в интернете"><img src="../../static/client/88x31_2.png" alt="Бизнес Форум MMGP"></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}