{% extends 'client/base.html' %}

{% block content %}
    <section class="back-page">
        <div class="group-circle  bottom">
            <img src="../../static/client/Group-2.png" alt="">
        </div>
        <div class="background-header"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="h1">Вопросы</h1>
                    <div class="breadcrumbs"><a href="/">Главная</a> / Вопросы</div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-page">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="container-faq d-flex flex-wrap">


                        <div class="item-faq">
                            <div class="header-faq">
                                В каком режиме работает обменник StratosChange.com?                                    <i class="fas fa-sort-down"></i>
                            </div>
                            <div class="content-faq">
                                <div>
                                    Мы работаем ежедневно.
                                    С 10:00 до 23:00 по МСК.                                    </div>
                            </div>
                        </div>


                        <div class="item-faq">
                            <div class="header-faq">
                                Как создать заявку?                                    <i class="fas fa-sort-down"></i>
                            </div>
                            <div class="content-faq">
                                <div>
                                    Для того, чтобы создать заявку, Вам необходимо следовать дальнейшей инструкции:
                                    1. Выберите направление обмена (например: в столбце «Отдаю» — Сбербанк, в столбце «Получаю» — Bitcoin) и укажите сумму, которую Вы хотите обменять или получить.
                                    2. Укажите свой e-mail, номер кошелька (карты или счета), на который хотите получить деньги.
                                    3. Нажмите кнопку «Начать обмен», после чего во всплывающем окне Вы увидите наши реквизиты для перевода.
                                    4. Скопируйте наши реквизиты, перейдите в Ваш кошелек. Вставьте сумму, указанную в заявке, и наши реквизиты. Подтвердите перевод. Обязательно убедитесь в том, что сумма у Вас списалась.
                                    5. Далее вернитесь на наш сайт и подтвердите оплату, нажав на кнопку «Я оплатил». Готово.
                                    6. Как только ваша заявка будет исполнена, вам на почту придет письмо с уведомлением о завершении операции.                                    </div>
                            </div>
                        </div>


                        <div class="item-faq">
                            <div class="header-faq">
                                Сколько времени обрабатывается заявка?                                    <i class="fas fa-sort-down"></i>
                            </div>
                            <div class="content-faq">
                                <div>
                                    Обмен производится оператором в ручном режиме и занимает от 15 до 60 минут после поступления платежа по заявке, также скорость обмена зависит от загруженности наших операторов. Время обработки заявки может увеличиться, если на это будут влиять сторонние факторы.                                    </div>
                            </div>
                        </div>


                        <div class="item-faq">
                            <div class="header-faq">
                                Заявку оплатил, но деньги на мой счет не поступили. В чем причина?                                    <i class="fas fa-sort-down"></i>
                            </div>
                            <div class="content-faq">
                                <div>
                                    Причины могут быть разные. Для того, чтобы обмен был успешно завершен, пожалуйста, убедитесь, что Вы все сделали правильно:
                                    1. Проверьте, правильно ли Вы указали свои реквизиты для перевода (кошелек, счет или карту). В случае, если Ваша заявка обработана на ошибочные реквизиты, возврат средств невозможен. Рекомендуем тщательно проверять верность указываемых данных до создания заявки.
                                    2. Проверьте, списались ли с Вашего счета средства. Если поступления от Вас мы не увидим, заявка будет удалена.
                                    3. Возможна задержка перевода со стороны платежной системы или банка. В этом случае ускорить процесс мы не в силах, остается только ждать. Для выяснения причин задержки Вы можете позвонить или написать в тех.поддержку Вашей платежной системы или банка.                                    </div>
                            </div>
                        </div>


                        <div class="item-faq">
                            <div class="header-faq">
                                Возможно ли отменить заявку?                                    <i class="fas fa-sort-down"></i>
                            </div>
                            <div class="content-faq">
                                <div>
                                    В случае, если Ваша заявка обработана, средства возврату не подлежат.
                                    Если заявка оплачена, но еще не выполнена, Вы можете вернуть свои средства (за вычетом комиссии за перевод), написав в службу online поддержки нашего сайта.                                    </div>
                            </div>
                        </div>


                        <div class="item-faq">
                            <div class="header-faq">
                                Какие у вас комиссии?                                    <i class="fas fa-sort-down"></i>
                            </div>
                            <div class="content-faq">
                                <div>
                                    Комиссии нашего сервиса уже включены в курс обмена и отображаются на стадии оформления заявки, в том числе, и комиссия за перевод платежной системы.                                    </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}